body{
    display: flex;
    padding: 2em 2em;
    background-color: lightgrey;
}

ul{
    display: flex;    
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.gallery li{
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding: 2em 1em; 
    background-color: white;
    border: 0.7em solid black;
    box-shadow: 
    0 0 0.5em 0 rgba(0, 0, 0, 0.5) inset,
    0 0 1em 0.1em rgba(0, 0, 0, 0.5);
}